<div *ngIf="user">
    <mat-toolbar>
        <a mat-button routerLink="" routerLinkActive="active" class="links">
            Home
        </a>
        <a mat-button routerLink="/student" routerLinkActive="active" class="links">
            Students
        </a>
        <a mat-button routerLink="/teacher" routerLinkActive="active" class="links">
            Teachers
        </a>
        <a mat-button routerLink="/department" routerLinkActive="active" class="links">
            Department
        </a>
        <span class="example-spacer"></span>
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <p>{{ user.name }}</p>
                    </mat-panel-title>
                    <mat-panel-description>
                        <img src="{{ user.photoUrl }}" style="width: 30px; border-radius: 50%; margin: 0.5rem;">
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <button mat-flat-button class="signOut-btn" (click)="signOut()">
                    Logout
                </button>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>



<div class="container">
    <div class="login-container" *ngIf="!user">
        <app-login></app-login>
    </div>
</div>


